<a href="https://colab.research.google.com/github/jayanthbottu/TRAINING/blob/main/BINARY_SEARCH_IN_LISTS_%26_OPERATIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import math
print(math.ceil(3.5))
print(math.floor(3.5))

4
3

**RETURN THE INDEXES WHERE ROTATION HAPPENS i.e Lower Number After a Higher NUmber**

In [23]:
n = [20,30,2,4,8,15]
l = 0
r = len(n)-1
while(l<r):
  m = (l+r)//2
  if n[m]>n[m-1]:
    print([m-1,m])
    break
  elif n[m+1]<n[m]:
    print([m,m+1])
    break
  if n[m]>n[l]:
    l=m
  else:
    r = m

[0, 1]

**FINDING SQUARE ROOT OF A NUMBER**

In [31]:
n= int(input("Enter a Number : "))
sq = 0
for i in range(1,n//2):
  if i*i <=n:
    sq=i
  if sq*sq>=n:
    break
print(sq)

Enter a Number : 12
3

**FINDING SQUARE ROOT OF A NUMBER Using Binary Search**

In [43]:
n = int(input())
l =1
r=n//2
while(l<=r):
  m =(l+r)//2
  if (m*m)==n:
    print(m)
    break
  if m*m > n:
    r = m-1
  else:
    l = m
  if l==r:
    print(l)
    break

12
3

In [77]:
n = [13,17,20,22,1,2,4,5,8]
l = 0
r = len(n)-1
while(l<r):
  m = (l+r)//2
  if n[m+1]>n[m]<n[m-1]:
    print("Rotation Happened at",[m])
    print("Number of Rotations :",m)
    break
  if n[m]>n[l]:
    l=m+1
  else:
    r = m-1

Rotation Happened at [4]
Number of Rotations : 4

**PRINT PEAK ELEMENTS**

In [75]:
nums = [2,3,4,6,3,2,1,5,8,10,1,4,2]
for i in range(1,len(nums)-1):
  if(nums[i-1]<=nums[i]>=nums[i+1]):
    print(nums[i],end=" ")

6 10 4

In [80]:
n=[2,3,13,4,6,3,2,1,5,8,10,1,4,2]
l= 0
r= len(n) - 1
while l < r:
      m = (l + r) // 2
      if n[m] > n[m+ 1]:
            r = m
      else:
          l= m+1
print(n[l])

6

**FINDING FIRST ELEMENT IN ROTATED ARRAY**

In [81]:
n=[10,20,30,40,50,60,3,4,5,6]
l= 0
r= len(n) - 1
while l < r:
      m = (l + r) // 2
      if n[m] > n[r]:
            l = m + 1
      else:
          r = m
print(n[l])

3

**PEAK ELEMENTS**

In [90]:
n = [8,2,4,5,13,6,7,10,5,4,2,3]
l= 0
r= len(n) - 1
if n[l]>n[l+1]:
        print(n[l])
while l < r:
      m = (l + r) // 2
      if n[m]>n[m-1] and n[m]>n[m+1]:
        print(n[m])
      if n[m]>n[m-1]:
        l = m+1
      else:
        r = m

8
13

In [103]:
import math
n = [3,6,7,11]
n1,k = 8,3
if sum(n)<=(n1*k):
  print("Doable")
else:
  print("not Possible")

not Possible

**KOKO THE MONKEY**

In [108]:
import math
a = [3,6,17,18]
h = 8
k = 1
while(1):
  s= 0
  for i in a:
    s=s+math.ceil(i/k)
    if(s>h):
      k=k+1
      break
  else:
    print(k)
    break

6

**AGGRESSIVE COWS**

In [163]:
n= [1, 2, 4, 8, 9]
d=2
cows=3
k=1
print("Places at",n[0])
for i in range(len(n)-1):
  if n[i+1]-n[i]>=d:
    print("Places at",n[i+1])
    k+=1
if k>=cows:
  print("Possible")
else:
  print("unpossible")

Places at 1
Places at 4
Places at 8
Possible